# yaml-language-server: $schema=../../../../schemas/tags.schema.json

name: "compliance_tier"
description: "Data sensitivity and compliance classification tag key"
id: "123456789012/compliance_tier"
network: "projects/nyl-vpc-host-01/global/networks/vpc-prod"
iam:
  roles/resourcemanager.tagAdmin:
    - "group:gcp-security-admins@nyl.com"

iam_bindings:
  tag_viewer_binding:
    role: "roles/resourcemanager.tagViewer"
    members:
      - "group:gcp-devops@nyl.com"

iam_bindings_additive:
  additive_tag_user:
    role: "roles/resourcemanager.tagUser"
    member: "serviceAccount:deploy-sa@nyl.iam.gserviceaccount.com"

values:
  pci:
    name: "pci"
    description: "PCI-DSS Highly Regulated Scope"
    id: "tagValues/11111111"
    iam:
      roles/resourcemanager.tagUser:
        - "group:gcp-secops-admins@nyl.com"
    iam_bindings:
      value_viewer:
        role: "roles/resourcemanager.tagViewer"
        members:
          - "group:gcp-support@nyl.com"
  hipaa:
    name: "hipaa"
    description: "HIPAA Protected Health Information Scope"
    id: "tagValues/22222222"
