# yaml-language-server: $schema=../../../../schemas/org-policies.schema.json

compute.requireShieldedVm:
  inherit_from_parent: false
  reset: false
  rules:
    - enforce: true
      condition:
        description: "Enforce Shielded VM on all production workloads"
        expression: "resource.matchTag('123456789012/environment', 'production')"
        location: "us-east4"
        title: "Require Shielded VM in Prod"
      parameters: "{}"
